<p id="notice"><%= notice %></p>

<h1>Todos</h1>

<%= link_to '完了済みタスクを見る', todos_path %>

<%= form_with url: todos_path, method: :get, local: true do |f| %>
   <%= text_field_tag "word", nil %>
   <%= submit_tag "検索" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= will_paginate @books, :previous_label => ' &lt 前へ', :next_label => '次へ >' %>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.name %></td>
        <td><%= todo.content %></td>
        <td><%= todo.end_date %></td>
        <td><%= link_to 'Show', todo %></td>
        <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
        <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'done', "todos/#{todo.id}/done", method: :patch%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Todo', new_todo_path %>
